<footer>
    <div class="main-footer container">
        <a href="/" class="logo"><p>Food<span class="primary-color">BL<img src="/images/pizza.svg" alt="pizza icon" class="pizza"/>G</span></p></a> 
        <span>
            copyright &copy; 2022, FoodBLOG.
        </span>
    </div>
</footer>