.animation {
    &-spin {
        animation: spin 1.5s linear infinite;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }

    &-sway {
        animation: sway 0.5s linear infinite;

        @keyframes sway {
            0% {
                margin-left: 0px;
            }
            25% {
                margin-left: 2.5px;
            }
            50% {
                margin-left: 5px;
            }
            100% {
                margin-left: 0px;
            }
        }
    }

    &-bounce {
        position: relative;
        animation: bounce 1s linear infinite;

        @keyframes bounce {
            0% {
                top: 0px;
            }
            25% {
                top: -10px;
            }
            50% {
                top: -20px;
            }
            100% {
                top: 0px;
            }
        }
    }

    &-expand {
        transform: scale(0);
        transform-origin: center;

        @keyframes expand {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    &-shrink {
        transform: scale(1);
        transform-origin: center;

        @keyframes shrink {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(0);
            }
        }
    }
    &-slide-in {
        animation: slide-in 0.6s ease-in forwards;

        @keyframes slide-in {
            0% {
                margin-left: 100%;
            }
            100% {
                margin-left: 0;
            }
        }
    }
    &-fade-in {
        opacity: 0;
        animation: fade-in 0.6s ease-in forwards;

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}