body {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 54px;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

.primary-color {
    color: $color-pink;
}