html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  letter-spacing: 0.3px; }

b {
  font-weight: 700; }

.container, header .main-header, .hero, .blogs, .my-profile, .cta-wrap {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }

.shadow-left, .hero article.center {
  box-shadow: -2px 0px 3px -1px rgba(0, 0, 0, 0.35); }

.backdrop, .poster {
  position: relative; }
  .backdrop::after, .poster::after {
    content: "";
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.arrow, .dropdown-wrap .dropdown::after {
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 2px solid #0E0C09;
  border-right: none;
  border-top: none;
  transform: translateY(-50%) rotate(-45deg);
  cursor: pointer; }

@media (max-width: 1024px) {
  .container, header .main-header, .hero, .blogs, .my-profile, .cta-wrap {
    max-width: 768px; } }

@media (max-width: 768px) {
  .container, header .main-header, .hero, .blogs, .my-profile, .cta-wrap {
    padding-left: 20px;
    padding-right: 20px; } }

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v21-latin-regular.woff2"); }

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v23-latin-500.woff2"); }

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v21-latin-600.woff2"); }

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v21-latin-700.woff2"); }

body {
  font-family: 'Montserrat', sans-serif;
  color: #191919; }

.title-xl, .cta .title {
  font-size: 32px;
  line-height: 38px; }

.title-lg, .hero article.center .title, .blogs h2, .one-blog .recipe .title, .my-profile .title {
  font-size: 28px;
  line-height: 34px; }

.title-md, .blogs .card .content h3, .blogs .no-blog h3 {
  font-size: 18px;
  line-height: 26px; }

.title-xs, .auth-form .title {
  font-size: 14px;
  line-height: 20px; }

.text-lg {
  font-size: 28px;
  line-height: 34px; }

.text-md, main aside.right .text, .all-blogs .blogs .add-blog .btn, .one-blog .recipe .text, .new-blog form input[name="title"],
.new-blog form input[name="title"]::placeholder {
  font-size: 18px;
  line-height: 24px; }

.text-sm, .dropdown-wrap .dropdown, .blogs .no-blog p, .one-blog .recipe .author, .my-profile .text, .my-profile .link, .new-blog form input,
.new-blog form textarea,
.new-blog form input::placeholder,
.new-blog form textarea::placeholder {
  font-size: 16px;
  line-height: 22px; }

.text-xs, .hero article.center .content .text, .hero article.center .content .link, .hero article.center .more-info .text, .blogs .card .content p, .one-blog .recipe .breadcrumbs, .auth-form > .text, .auth-form form input {
  font-size: 14px;
  line-height: 20px; }

.text-xxs, .hero article.center .label, .keywords {
  font-size: 10px;
  line-height: 14px; }

p.text {
  font-weight: 500; }

.primary-color {
  color: #EE6C4D; }

@media (max-width: 1024px) {
  .title-xl, .cta .title {
    font-size: 30px;
    line-height: 36px; }
  .title-lg, .hero article.center .title, .blogs h2, .one-blog .recipe .title, .my-profile .title {
    font-size: 24px;
    line-height: 32px; }
  .title-md, .blogs .card .content h3, .blogs .no-blog h3 {
    font-size: 16px;
    line-height: 24px; }
  .title-xs, .auth-form .title {
    font-size: 12px;
    line-height: 18px; } }

.animation-spin, main aside.right img {
  animation: spin 1.5s linear infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.animation-sway, .link:hover svg {
  animation: sway 0.5s linear infinite; }

@keyframes sway {
  0% {
    margin-left: 0px; }
  25% {
    margin-left: 2.5px; }
  50% {
    margin-left: 5px; }
  100% {
    margin-left: 0px; } }

.animation-bounce {
  position: relative;
  animation: bounce 1s linear infinite; }

@keyframes bounce {
  0% {
    top: 0px; }
  25% {
    top: -10px; }
  50% {
    top: -20px; }
  100% {
    top: 0px; } }

.animation-expand, header .mobile-nav .menu, .hero article.left img, .one-blog .recipe-wrap picture img {
  transform: scale(0);
  transform-origin: center; }

@keyframes expand {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.animation-shrink {
  transform: scale(1);
  transform-origin: center; }

@keyframes shrink {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

.animation-slide-in {
  animation: slide-in 0.6s ease-in forwards; }

@keyframes slide-in {
  0% {
    margin-left: 100%; }
  100% {
    margin-left: 0; } }

.animation-fade-in, .hero article.center > * {
  opacity: 0;
  animation: fade-in 0.6s ease-in forwards; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn {
  display: inline-block;
  padding: 10px 25px;
  min-width: 150px;
  font-size: 14px;
  line-height: 20px;
  text-align: center; }
  .btn-small {
    padding: 5px 15px;
    min-width: 100px; }
  .btn-primary {
    color: #9D9EA2;
    border: 1px solid #9D9EA2;
    border-radius: 20px;
    transition: all 0.3s ease-in; }
    .btn-primary:hover {
      color: #FFF;
      background-color: #EE6C4D;
      border-color: #EE6C4D; }
  .btn-secondary {
    color: #FFF;
    background-color: #EE6C4D;
    border: 1px solid #EE6C4D;
    border-radius: 20px;
    transition: all 0.3s ease-in; }
    .btn-secondary:hover {
      background-color: #ec5936; }

button.btn {
  cursor: pointer; }

.btn,
button.btn {
  transition: all 0.2s ease-in-out; }

.label {
  display: inline-block;
  padding: 4px 20px;
  border-radius: 12px;
  letter-spacing: 0.5px; }
  .label-primary {
    background-color: #EE6C4D;
    color: #FFF; }
  .label-dark {
    background-color: #F2F2F2;
    color: #FFF; }
  .label-light, .hero article.center .label {
    background-color: #FFF;
    color: #9D9EA2;
    border: 1px solid #F2F2F2; }

.link {
  text-decoration: none;
  color: #EE6C4D; }
  .link-primary, .hero article.center .content .link {
    color: #EE6C4D; }
  .link-tertiary, .one-blog .recipe .breadcrumbs .link {
    color: #9D9EA2; }
  .link-dark {
    color: #0E0C09; }
  .link-light, main aside.right .text {
    color: #FFF; }
  .link:hover {
    text-decoration: underline; }

.card-wrap {
  display: flex;
  flex-wrap: wrap; }
  .card-wrap .card {
    width: calc(25% - 20px);
    margin: 0 0 20px 20px;
    border: 1px solid #F2F2F2;
    background-color: #FFF; }

@media (max-width: 768px) {
  .card-wrap .card {
    width: 100%;
    margin: 0 0 20px 20px; } }

.dropdown-wrap {
  text-align: right;
  position: relative; }
  .dropdown-wrap .dropdown {
    display: inline-block;
    text-align: left;
    background-color: #FFF;
    color: #9D9EA2;
    padding: 10px 30px 10px 20px;
    border-radius: 20px;
    min-width: 170px;
    position: relative;
    font-weight: 500;
    border: 1px solid #F2F2F2; }
    .dropdown-wrap .dropdown::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 47%;
      border-color: #9D9EA2; }
    .dropdown-wrap .dropdown-menu {
      display: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      padding: 0;
      position: absolute;
      top: 82%;
      right: 20px;
      border: 1px solid #F2F2F2;
      border-radius: 8px;
      z-index: 1;
      font-weight: 500;
      overflow: hidden; }
      .dropdown-wrap .dropdown-menu li {
        background-color: #FFF;
        color: #9D9EA2;
        cursor: pointer;
        padding: 16px 30px;
        text-align: left; }
        .dropdown-wrap .dropdown-menu li:hover {
          color: #FFF;
          background-color: #EE6C4D; }

.poster {
  max-height: 400px;
  overflow: hidden;
  border-bottom: 3px solid #EE6C4D; }
  .poster img {
    width: 100%; }

@media (min-width: 1024px) {
  .poster {
    height: 400px; } }

main {
  padding-right: 100px; }
  main aside.right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    width: 100px;
    height: 100vh;
    padding: 50px 20px 20px 20px;
    background-color: #EE6C4D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    main aside.right img {
      width: 40px; }
    main aside.right .text {
      text-transform: capitalize;
      writing-mode: tb;
      transform: rotate(180deg); }

@media (max-width: 1200px) {
  main {
    padding-right: 0; }
    main aside.right {
      display: none; } }

header {
  padding-right: 100px;
  background-color: #FFF; }
  header .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all 0.3s ease; }
  header .logo > img {
    display: block; }
  header .main-nav > a {
    color: #191919;
    text-decoration: none;
    margin: 0 20px;
    padding-bottom: 5px;
    font-weight: 600; }
    header .main-nav > a:hover, header .main-nav > a:active, header .main-nav > a.active {
      color: #EE6C4D; }
  header .main-nav .profile {
    width: 15px;
    vertical-align: bottom; }
  header .mobile-nav {
    display: none;
    position: relative; }
    header .mobile-nav .hamburger {
      cursor: pointer; }
      header .mobile-nav .hamburger span {
        display: block;
        width: 25px;
        height: 2px;
        margin: 5px 0;
        background-color: #0E0C09;
        transition: all 0.3s ease; }
    header .mobile-nav .menu {
      display: none;
      box-shadow: rgba(0, 0, 0, 0.1) -3px 5px 8px 3px;
      background-color: #FFF;
      padding: 0;
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 1;
      font-weight: 500;
      overflow: hidden;
      transform-origin: top right;
      animation: expand 0.6s ease-in forwards; }
      header .mobile-nav .menu a {
        display: block;
        background-color: #FFF;
        color: #9D9EA2;
        cursor: pointer;
        padding: 16px 30px;
        text-align: left;
        white-space: nowrap; }
    header .mobile-nav.open {
      display: block;
      position: relative; }
      header .mobile-nav.open .hamburger .center {
        display: none; }
      header .mobile-nav.open .hamburger .top {
        transform: rotate(45deg) translate(5px, 0px); }
      header .mobile-nav.open .hamburger .bottom {
        transform: rotate(-45deg) translate(5px, 0px); }
      header .mobile-nav.open .menu {
        display: block; }

.home header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent; }
  .home header .main-nav {
    padding-right: 80px; }

.create-blog header {
  padding-right: 0; }

@media (max-width: 1200px) {
  header {
    padding-right: 0; } }

@media (max-width: 1024px) {
  header {
    padding-right: 0; } }

@media (max-width: 768px) {
  header .main-header {
    padding-top: 20px;
    padding-bottom: 20px; }
  header .main-nav {
    padding-right: 0;
    display: none; }
  header .mobile-nav {
    display: block; } }

.hero-wrap {
  background: linear-gradient(90deg, #FFF 50%, #F2F2F2 50%); }

.hero {
  min-height: 600px;
  display: flex; }
  .hero article.left {
    width: 40%;
    text-align: center;
    padding: 131px 80px 80px 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center; }
    .hero article.left picture,
    .hero article.left img {
      width: 100%; }
    .hero article.left img {
      width: 100%;
      box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.3);
      animation: expand 0.4s ease-in 0.5s forwards; }
  .hero article.center {
    width: 60%;
    background-color: #F2F2F2;
    padding: 131px 80px 80px 80px; }
    .hero article.center .label {
      font-weight: 600;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .hero article.center .title {
      font-weight: 700;
      color: #0E0C09;
      margin-bottom: 10px; }
    .hero article.center .keywords {
      margin-bottom: 30px; }
    .hero article.center .content {
      margin-bottom: 30px; }
      .hero article.center .content .text {
        line-height: 25px;
        color: #9D9EA2;
        margin-bottom: 10px; }
      .hero article.center .content .link {
        font-weight: 500; }
        .hero article.center .content .link:hover {
          text-decoration: underline; }
    .hero article.center .more-info .text {
      color: #9D9EA2;
      margin-bottom: 10px; }
      .hero article.center .more-info .text b {
        color: #0E0C09; }

@media (max-width: 1024px) {
  .hero article.left {
    padding-right: 40px; }
  .hero article.center {
    padding-right: 60px;
    padding-left: 60px; } }

@media (max-width: 768px) {
  .hero-wrap {
    background: none; }
  .hero {
    flex-direction: column; }
    .hero article.left {
      width: 100%;
      padding: 71px 0 0 0; }
      .hero article.left img {
        display: block;
        animation: none;
        transform: scale(1);
        box-shadow: none; }
    .hero article.center {
      width: 100%;
      padding: 40px 20px;
      box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.35); } }

.blogs {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  .blogs h2 {
    color: #0E0C09;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 700; }
    .blogs h2 span {
      padding: 0 40px; }
    .blogs h2::before, .blogs h2::after {
      content: "";
      width: 45%;
      height: 3px;
      border-radius: 12px;
      background-color: #EE6C4D; }
  .blogs .card-wrap {
    position: relative; }
    .blogs .card-wrap::before {
      content: "";
      width: 3px;
      height: calc(100% - 20px);
      border-radius: 12px;
      background-color: #EE6C4D;
      position: absolute;
      top: 0;
      left: 0; }
  .blogs .card {
    text-align: left; }
    .blogs .card picture {
      display: block;
      width: 100%;
      height: 200px;
      overflow: hidden;
      position: relative; }
      .blogs .card picture img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .blogs .card .content {
      padding: 20px; }
      .blogs .card .content h3 {
        font-weight: 700;
        height: 52px; }
      .blogs .card .content p {
        font-weight: 500; }
      .blogs .card .content p {
        margin-bottom: 8px; }
      .blogs .card .content .link {
        display: inline-block;
        margin-bottom: 20px; }
  .blogs .no-blog {
    justify-content: center; }
    .blogs .no-blog .card {
      text-align: center;
      width: initial;
      max-width: 400px;
      padding: 40px; }
    .blogs .no-blog h3 {
      font-weight: 600;
      margin-bottom: 20px; }
    .blogs .no-blog p {
      font-weight: 500; }

.keywords {
  font-weight: 600;
  color: #9D9EA2;
  margin-bottom: 40px; }
  .keywords span {
    padding: 0 10px 0 0; }

.all-blogs .blogs {
  position: relative;
  padding-top: 0;
  padding-top: 107px; }
  .all-blogs .blogs h2 {
    position: absolute;
    top: -47px;
    left: 0;
    right: 0;
    display: block;
    padding: 30px 0;
    background-color: #FFF;
    color: #EE6C4D;
    border-radius: 4px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    text-align: center; }
    .all-blogs .blogs h2::before, .all-blogs .blogs h2::after {
      display: none; }
    .all-blogs .blogs h2 span {
      padding: 0;
      display: inline-block; }
  .all-blogs .blogs .dropdown-wrap {
    display: none;
    padding-bottom: 40px; }
  .all-blogs .blogs .add-blog {
    text-align: right;
    padding-bottom: 40px; }
    .all-blogs .blogs .add-blog .btn {
      min-width: 120px;
      padding: 5px 10px;
      font-weight: 500; }

.one-blog .recipe-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 40px; }
  .one-blog .recipe-wrap picture {
    width: 40%; }
    .one-blog .recipe-wrap picture img {
      width: 100%;
      animation: expand 0.4s ease-in forwards; }

.one-blog .recipe {
  width: 50%;
  padding-bottom: 80px; }
  .one-blog .recipe .breadcrumbs {
    font-weight: 600;
    color: #0E0C09;
    margin-bottom: 20px; }
    .one-blog .recipe .breadcrumbs .arrow, .one-blog .recipe .breadcrumbs .dropdown-wrap .dropdown::after, .dropdown-wrap .one-blog .recipe .breadcrumbs .dropdown::after {
      margin: 0 10px;
      transform: rotate(225deg); }
  .one-blog .recipe .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .one-blog .recipe .heading .edit,
    .one-blog .recipe .heading .trash {
      vertical-align: middle; }
      .one-blog .recipe .heading .edit:hover,
      .one-blog .recipe .heading .trash:hover {
        fill: #EE6C4D; }
    .one-blog .recipe .heading .edit {
      width: 25px; }
    .one-blog .recipe .heading .trash {
      width: 30px; }
  .one-blog .recipe .title {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #EE6C4D; }
  .one-blog .recipe .content {
    margin-bottom: 40px; }
  .one-blog .recipe .text {
    font-weight: 600;
    margin-bottom: 0;
    color: #0E0C09;
    text-align: justify; }
  .one-blog .recipe .author {
    color: #9D9EA2; }
    .one-blog .recipe .author span {
      color: #EE6C4D; }

@media (max-width: 768px) {
  .keywords {
    margin-bottom: 20px; }
  .blogs {
    padding-top: 80px;
    padding-bottom: 80px; }
    .blogs h2 {
      margin-bottom: 40px; }
      .blogs h2 span {
        padding: 0 20px; }
    .blogs .card .content h3 {
      height: auto; }
  .all-blogs .blogs {
    padding-top: 71px; }
    .all-blogs .blogs h2 {
      top: -31px;
      padding: 15px 0;
      margin: 0 20px; }
  .one-blog .recipe-wrap {
    flex-direction: column-reverse;
    padding-top: 0; }
    .one-blog .recipe-wrap .recipe,
    .one-blog .recipe-wrap picture {
      width: 100%;
      margin-bottom: 40px; }
    .one-blog .recipe-wrap .heading .edit {
      margin-bottom: 10px; } }

.my-profile {
  padding-top: 40px;
  padding-bottom: 120px; }
  .my-profile .content {
    margin-bottom: 60px; }
  .my-profile .title {
    font-weight: 700;
    margin-bottom: 40px;
    color: #EE6C4D; }
  .my-profile .text {
    font-weight: 500;
    margin-bottom: 30px; }
    .my-profile .text b {
      display: inline-block;
      min-width: 60px;
      margin-right: 5px; }
  .my-profile .link {
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase; }

.cta-wrap {
  padding-bottom: 120px; }

.cta {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2); }
  .cta .title {
    font-weight: 700;
    margin-bottom: 40px;
    max-width: 760px;
    text-align: center; }

.new-blog {
  padding-top: 40px;
  padding-bottom: 80px; }
  .new-blog form label {
    color: #0E0C09;
    font-family: 'Montserrat', sans-serif; }
  .new-blog form input {
    width: calc(50% - 40px);
    display: inline-block;
    border: none;
    margin: 0 10px 20px 10px; }
  .new-blog form input[name="description"] {
    width: 100%; }
  .new-blog form input,
  .new-blog form textarea {
    padding: 10px 0 10px 10px;
    border: none;
    color: #0E0C09;
    background-color: #FFF;
    border-left: 2px solid #F2F2F2;
    font-family: 'Montserrat', sans-serif; }
  .new-blog form input,
  .new-blog form textarea,
  .new-blog form input::placeholder,
  .new-blog form textarea::placeholder {
    font-weight: 500; }
  .new-blog form textarea {
    width: 100%;
    min-height: 250px;
    resize: none;
    margin: 0 10px 20px 10px;
    white-space: pre-wrap; }
  .new-blog form input[name="title"],
  .new-blog form input[name="title"]::placeholder {
    font-weight: 700; }
  .new-blog form input[name="title"],
  .new-blog form input[name="image"] {
    display: inline-block; }
  .new-blog form input[name="keywords"],
  .new-blog form input[name="name"] {
    margin-bottom: 40px; }
  .new-blog form input:focus,
  .new-blog form textarea:focus {
    outline: none;
    border-color: #EE6C4D; }
  .new-blog form .btn {
    border-radius: 8px; }

.auth-form-cont {
  padding-top: 80px;
  padding-bottom: 100px; }

.auth-form {
  display: flex;
  align-items: center;
  max-width: 960px; }
  .auth-form > .text {
    font-weight: 600; }
  .auth-form .left,
  .auth-form .right {
    width: 50%;
    text-align: center; }
  .auth-form .title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .auth-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .auth-form form input {
      padding: 8px 8px;
      border: none;
      border-bottom: 1px solid #9D9EA2;
      margin-bottom: 15px; }
      .auth-form form input::placeholder {
        text-transform: capitalize; }
      .auth-form form input:focus {
        outline: none;
        border-bottom-color: #EE6C4D; }
      .auth-form form input[type="password"] {
        margin-bottom: 40px; }

@media (max-width: 768px) {
  .auth-form {
    flex-direction: column;
    align-items: center; }
    .auth-form > .text {
      margin-bottom: 40px; }
    .auth-form .left,
    .auth-form .right {
      width: 70%; }
    .auth-form .left {
      margin-bottom: 40px; }
    .auth-form form label, .auth-form form input {
      width: 100%; }
    .auth-form .btn {
      border-radius: 0;
      width: 100%; }
  .new-blog form input {
    width: 100%; } }

footer {
  padding-right: 100px;
  background-color: #0E0C09; }
  footer .main-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px; }
    footer .main-footer .logo > p {
      font-size: 20px; }
    footer .main-footer p {
      color: #eee;
      font-weight: bold; }
    footer .main-footer .pizza {
      vertical-align: top;
      width: 20px; }
    footer .main-footer span {
      color: #eee; }

@media (max-width: 1200px) {
  footer {
    padding-right: 0; } }

@media (max-width: 768px) {
  footer .main-footer {
    flex-direction: column;
    align-items: center; }
    footer .main-footer .logo {
      margin-bottom: 20px; } }
