.new-blog {
    padding: 40px 0 80px 0;

    form {

        label {
            color: $brand-dark-text;
            font-family: 'Montserrat', sans-serif;
        }

        input {
            width: calc(50% - 40px);
            display: inline-block;
            border: none;
            margin: 0 10px 20px 10px;
        }

        input[name="description"] {
            width: 100%;
        }

        input,
        textarea {
            padding: 10px 0 10px 10px;
            border: none;
            color: $brand-dark-text;
            background-color: $brand-light-bg;
            border-left: 2px solid $brand-secondary-bg;
            font-family: 'Montserrat', sans-serif;
        }

        input,
        textarea,
        input::placeholder,
        textarea::placeholder {
            @extend .text-sm;
            font-weight: 500;
        }

        textarea {
            width: 100%;
            min-height: 250px;
            resize: none;
            margin: 0 10px 20px 10px;
            white-space: pre-wrap;
        }

        input[name="title"],
        input[name="title"]::placeholder {
            @extend .text-md;
            font-weight: 700;
        }

        input[name="title"],
        input[name="image"] {
            display: inline-block;
        }

        input[name="keywords"],
        input[name="name"] {
            margin-bottom: 40px;
        }

        input:focus,
        textarea:focus {
            outline: none;
            border-color: $brand-primary-bg;
        }

        .btn {
            border-radius: 8px;
        }
    }
}

// Sign up amd Sign in form
.auth-form-cont {
    padding: 80px 0 100px 0;
}

.auth-form {
    display: flex;
    max-width: 960px;

    .left,
    .right {
        width: 50%;
        text-align: center;
    }

    .title {
        @extend .title-xs;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            padding: 8px 8px;
            border: none;
            border-bottom: 1px solid $color-grey-200;
            @extend .text-xs;
            margin-bottom: 15px;

            &::placeholder {
                text-transform: capitalize;
            }

            &:focus {
                outline: none;
                border-bottom-color: $color-orange;
            }

            &[type="password"] {
                margin-bottom: 40px;
            }
        }
    }
}