header {
    background-color: #eee;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
    
    .main-header {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        
        p {
            color: #191919;
            font-weight: bold;
        }

        .pizza {
            vertical-align: top;
            width: 20px;
        }
    
        nav>a {
            color: #191919;
            text-decoration: none;
            margin: 0 20px;
            padding-bottom: 5px;
            font-weight: 600;

            &:hover,
            &:active {
                color: $color-pink;
            }
        }
    }
}